// .box {
//   height: 18vmin;
//   width: 18vmin;
//   border-radius: 1rem;
//   border: none;
//   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
//   font-size: 8vmin;
//   color: #b0413e;
//   background-color: #ffffc7;
//   transition: background-color 0.5s ease;
// }

// #reset-btn, #new-btn, #toggle-btn {
//   padding: 1rem;
//   font-size: 1.25rem;
//   background-color: #191913;
//   color: #fff;
//   border-radius: 1rem;
//   border: none;
//   transition: background-color 0.5s ease;
// }

#icon {
  width: 30px;
  cursor: pointer;
}
:root {
  --primary-color : white;
  --secondary-color : aqua;
}
.dark-theme {
  --primary-color : black;
  --secondary-color : blue;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--primary-color);
  text-align: center;
}